body {
    color: getColor("text-color");

    font-family: $roboto;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;

    // @media screen and (max-width: 768px) {
    //     max-width: 480px;
    // }
}